<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<body ng-app="PostsApp" ng-controller="PageController as vm">

	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>

	<div>

		<div class="content">
			<img src="/images/logo.png" alt="Logo" />

			<div class="content-triangle"></div>
			<h2 class="content-header">Gerenciador de Posts</h2>

			<form method="POST" enctype="multipart/form-data"
				action="/publisher/publish" class="content-container">
				<table>
					<tr>
						<td>Arquivo para subir:</td>
						<td><input value="Selecione o arquivo" type="file"
							name="file" accept="image/png, image/jpeg, video/mp4" /></td>
					</tr>
					<tr>
						<td>Texto:</td>
						<td><input type="text" name="text" /></td>
					</tr>
					<tr>
						<td>Assinatura:</td>
						<td>
						<select
							ng-options="subscription.page.name + ' - ' + subscription.quantity + ' - R$' + subscription.value for subscription in vm.subscriptions track by subscription.id"
							ng-model="vm.selectedSubscription" name="subscription">
						</select> 
						</td>
					</tr>


					<tr>
						<td>Data:</td>
						<td>
                            <input datetime-picker="" ng-model="datetime" date-format="yyyy-MM-dd HH:mm:ss" />

						
						</td>
					</tr>
					<tr>
						<td><input type="button" value="Voltar"
							onclick="window.location.href='/publisher/browse'" /></td>
						<td><input type="submit" value="Agendar" /></td>
					</tr>
				</table>
			</form>
		</div>


	</div>


</body>
</html>


